.navbar {
  width: 100%;
  height: 80px;
  background-color: darkgreen;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 60px;
  font-size: 25px;
}

.links a:hover {
  color: gray;
  text-decoration: underline;
}

.links a:visited {
  color: orange;
  font-weight: 900;
}
